<link rel="preconnect" href="https://fonts.bunny.net" />
<link
        href="https://fonts.bunny.net/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet"
/>

<!-- Alpine.js + Focus plugin, uncomment if you would like to use Tailkit’s Alpine JS based components -->
<script defer src="https://unpkg.com/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>
<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

<!-- Alpine.js (x-cloak - https://alpinejs.dev/directives/cloak), uncomment if you will use the library -->
<style>
  [x-cloak] {
    display: none !important;
  }
</style>