/* TailwindCSS base styles */
/* see https://tailwindcss.com/docs/functions-and-directives#tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root {
    --primary-color: green;
    --primary-color-action: #00bd00;
    --secondary-color: blue;
    --secondary-color-action: #2424ff;
}

/* Site Specific */
/* put site specific css styles here using the @layer directive */
/* see https://tailwindcss.com/docs/functions-and-directives#layer */
@layer components {
    .welcome-headline {
        @apply text-sky-600;
    }
}

.size-18 {
    width: 16px;
    height: 16px;
}
.size-20 {
    width: 20px;
    height: 20px;
}
