{{ with . }}

{{ $feature_icon := "check" }}
<div class="min-h-screen flex justify-center items-center">
    <div class="">
        <div class="text-center font-semibold">
            <h1 class="text-5xl">
                <span class="text-primary-color tracking-wide">{{ .title }}</span>
            </h1>
            <p class="pt-6 text-xl text-alt-color font-normal w-full px-8 md:w-full">
                {{ .subtitle }}
            </p>
        </div>
        <div class="pt-24 flex flex-row">
            <!-- Basic Card -->
            <!-- StartUp Card -->
            {{ range .cards }}
            {{ if (eq .type "bronze") }}
            <div class="w-80 p-8 bg-gray-900 text-center rounded-3xl text-white border-4 shadow-xl border-white transform scale-125">
                <h1 class="text-white font-semibold text-2xl">{{ .name }}</h1>
                <p class="pt-2 tracking-wide">
                    <span class="text-gray-400 align-top">$ </span>
                    <span class="text-3xl font-semibold">{{ .price }}</span>
                    <span class="text-gray-400 font-medium">/ {{ .price_per }}</span>
                </p>
                <hr class="mt-4 border-1 border-gray-600">
                <div class="pt-8">
                    {{ range .features }}
                    <div class="flex items-center align-left font-semibold">
                        <i data-feather="{{ $feature_icon }}"></i>
                        <span class="pl-2 text-gray-400">{{ . }}</span>
                    </div>
                    {{ end }}
                </div>
                <a href="{{ default '#' .button_link }}" class="">
                    <p class="flex justify-center w-full py-4 bg-primary-color mt-8 rounded-xl text-white">
                        <span class="font-medium">{{ default "Click" .button_text }}</span>
                        <i class="ml-2" data-feather="arrow-right"></i>
                    </p>
                </a>
            </div>
            <div class="absolute top-4 right-4">
                <p class="bg-primary-color font-semibold px-4 py-1 rounded-full uppercase text-xs">Popular</p>
            </div>
        </div>
        {{ else if (eq .type "silver") }}
        <div class="w-96 p-8 bg-white text-center rounded-3xl pr-16 shadow-xl">
            <h1 class="text-black font-semibold text-2xl">{{ .name }}</h1>
            <p class="pt-2 tracking-wide">
                <span class="text-gray-400 align-top">$ </span>
                <span class="text-3xl font-semibold">{{ .price }}</span>
                <span class="text-gray-400 font-medium">/ {{ .price_per }}</span>
            </p>
            <hr class="mt-4 border-1">
            <div class="pt-8">
                {{ range .features }}
                <div class="flex items-center align-left font-semibold text-gray-400">
                    <i data-feather="{{ $feature_icon }}"></i>
                    <span class="pl-2">{{ . }}</span>
                </div>
                {{ end }}

                <a href="{{ default '#' .button_link }}" class="">
                    <p class="flex justify-center w-full py-4 bg-primary-color mt-8 rounded-xl text-white">
                        <span class="font-medium">{{ default "Click" .button_text }}</span>
                        <i class="ml-2" data-feather="arrow-right"></i>
                    </p>
                </a>
            </div>
        </div>
        {{ end }}
        {{ end }}
    </div>
</div>
</div>
{{ end }}