{{ with . }}
{{ $feature_icon := "check" }}
<!-- Pricing Section: To The Side -->
<div id="pricing" class="bg-white dark:text-gray-100 dark:bg-gray-900">
    <div class="space-y-10 lg:flex lg:items-center lg:justify-between lg:space-x-16 container xl:max-w-7xl mx-auto px-4 py-16 lg:px-8 lg:py-32">
        <!-- Heading -->
        <div class="text-center lg:text-left">
            <div class="text-sm uppercase font-bold tracking-wider mb-1 text-primary-color-600 dark:text-primary-color-500">
                Pick your plan
            </div>
            <h2 class="text-4xl font-black text-black mb-4 dark:text-white">
                {{ markdownify .title }}
            </h2>
            <h3 class="text-xl leading-relaxed font-medium text-gray-700 dark:text-gray-300">
                {{ markdownify .subtitle }}
            </h3>
        </div>
        <!-- END Heading -->

        <!-- Pricing Plans -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 lg:gap-8 lg:w-3/5 lg:flex-none">
            {{ range .options }}
            {{ if (eq .type "basic") }}
            <!-- Solo Plan -->
            <div class="overflow-hidden transition rounded-lg bg-white flex flex-col border border-gray-200 hover:border-gray-400 dark:bg-gray-900 dark:border-gray-700/75 dark:hover:border-gray-600">
                <div class="p-6 grow text-center">
                  <span class="inline-block text-sm font-semibold px-3 py-1 bg-primary-color-100 bg-opacity-75 text-primary-color-700 rounded-full mb-4 dark:bg-primary-color-900 dark:bg-opacity-50 dark:text-primary-color-200">
                    Solo
                  </span>
                    <div class="mb-1">
                        <span class="text-4xl font-extrabold">${{ .price }}</span>
                        <span class="text-gray-700 font-semibold dark:text-gray-400/75">/{{ .price_per }}</span>
                    </div>
                    <p class="text-sm font-medium text-gray-600 dark:text-gray-400">
                        {{ title .name }}
                    </p>
                </div>
                <div class="p-6 flex justify-center bg-gray-50 dark:bg-gray-700/25">
                    <ul class="space-y-4 text-sm lg:text-base">
                        {{ with .features }}
                        {{ range .available }}
                        <li class="flex items-center space-x-2">
                            <svg class="hi-outline hi-check-circle inline-block w-6 h-6 text-primary-color-600 dark:text-primary-color-500"
                                 xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
                            </svg>
                            <span>{{ markdownify . }}</span>
                        </li>
                        {{ end }}
                        {{ range .not_available }}
                        <li class="flex items-center space-x-2">
                            <svg class="hi-outline hi-x-circle inline-block w-6 h-6 text-rose-600 dark:text-rose-500"
                                 xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
                            </svg>
                            <del>{{ markdownify . }}</del>
                        </li>
                        {{ end }}
                        {{ end }}
                    </ul>
                </div>
<!--                <div class="p-6">-->
<!--                    <a href="javascript:void(0)"-->
<!--                       class="flex justify-center items-center space-x-2 border font-semibold rounded-lg px-6 py-3 leading-6 border-gray-700 bg-gray-700 text-white hover:text-white hover:bg-gray-600 hover:border-gray-600 focus:ring focus:ring-gray-400 focus:ring-opacity-50 active:bg-gray-700 active:border-gray-700 dark:focus:ring-gray-400 dark:focus:ring-opacity-90">-->
<!--                        Get Started-->
<!--                    </a>-->
<!--                </div>-->
            </div>
            <!-- END Solo Plan -->
            {{ else if (eq .type "themed") }}
            <!-- Pro Plan -->
            <div class="relative overflow-hidden transition rounded-lg bg-white flex flex-col border border-primary-color-300 hover:border-primary-color-500 dark:bg-gray-900 dark:border-primary-color-700/75 dark:hover:border-primary-color-600">
                <div class="absolute top-0 right-0 h-12 w-12 flex items-center justify-center text-primary-color-600">
                    <svg class="hi-solid hi-bookmark inline-block w-5 h-5" xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd"
                              d="M6.32 2.577a49.255 49.255 0 0111.36 0c1.497.174 2.57 1.46 2.57 2.93V21a.75.75 0 01-1.085.67L12 18.089l-7.165 3.583A.75.75 0 013.75 21V5.507c0-1.47 1.073-2.756 2.57-2.93z"
                              clip-rule="evenodd"/>
                    </svg>
                </div>
                <div class="p-6 grow text-center">
                  <span class="inline-block text-sm font-semibold px-3 py-1 bg-primary-color-100 bg-opacity-75 text-primary-color-700 rounded-full mb-4 dark:bg-primary-color-900 dark:bg-opacity-50 dark:text-primary-color-200">
                    Pro
                  </span>
                    <div class="mb-1">
                        <span class="text-4xl font-extrabold">${{ .price }}</span>
                        <span class="text-gray-700 font-semibold dark:text-gray-400/75">/{{ .price_per }}</span>
                    </div>
                    <p class="text-sm font-medium text-gray-600 dark:text-gray-400">
                        {{ title .name }}
                    </p>
                </div>
                <div class="p-6 flex justify-center text-primary-color-950 bg-primary-color-50 dark:text-primary-color-50 dark:bg-primary-color-900 dark:bg-opacity-30">
                    <ul class="space-y-4 text-sm lg:text-base">
                        {{ with .features }}
                        {{ range .available }}
                        <li class="flex items-center space-x-2">
                            <svg class="hi-outline hi-check-circle inline-block w-6 h-6 text-primary-color-600 dark:text-primary-color-500"
                                 xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
                            </svg>
                            <span>{{ markdownify . }}</span>
                        </li>
                        {{ end }}
                        {{ range .not_available }}
                        <li class="flex items-center space-x-2">
                            <svg class="hi-outline hi-x-circle inline-block w-6 h-6 text-rose-600 dark:text-rose-500"
                                 xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
                            </svg>
                            <del>{{ markdownify . }}</del>
                        </li>
                        {{ end }}
                        {{ end }}
                    </ul>
                </div>
<!--                <div class="p-6">-->
<!--                    <a href="javascript:void(0)"-->
<!--                       class="flex justify-center items-center space-x-2 border font-semibold rounded-lg px-6 py-3 leading-6 border-primary-color-700 bg-primary-color-700 text-white hover:text-white hover:bg-primary-color-600 hover:border-primary-color-600 focus:ring focus:ring-primary-color-400 focus:ring-opacity-50 active:bg-primary-color-700 active:border-primary-color-700 dark:focus:ring-primary-color-400 dark:focus:ring-opacity-90">-->
<!--                        Get Started-->
<!--                    </a>-->
<!--                </div>-->
            </div>
            <!-- END Pro Plan -->
            {{ end }}
            {{ end }}
        </div>
        <!-- END Pricing Plans -->
    </div>
</div>
<!-- END Pricing Section: To The Side -->
{{ end }}