<section id="rental" class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="lg:w-2/3 flex flex-col sm:flex-row sm:items-center items-start mx-auto">
            <h1 class="flex-grow sm:pr-16 text-2xl font-medium title-font text-gray-900">30 seconds to book!</h1>
            <a href="#"><button class="flex-shrink-0 text-white bg-primary-color border-0 py-2 px-8 focus:outline-none hover:bg-primary-color-action rounded text-lg mt-10 sm:mt-0">
                Book now
            </button></a>
        </div>
    </div>
</section>